		<div class="fh5co-section">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12 section-heading">
						<div class="col-md-12">
							<p>&copy;2017 <a href="https://songa-labs.github.io">Songa Labs</a>. </p>
						</div>
					</div>
					<div class="col-md-8 col-sm-8 col-xs-12">
						<div class="col-md-12" >
							<span style="font-size: 10px"><p><a href="/terms-and-conditions">Terms & Conditions</a> | <a href="/credits">Credits</a>. </p> </span>
						</div>
					</div>

				</div>
			</div>
		</div>